<main class="contenedor">
    <form action="/crear-cuenta" method="POST" class="default-form">
    
    <div class="campo">
        <label for="">Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Tu Nombre">
    </div>
    <div class="campo">
        <label for="">Email</label>
        <input type="email" name="email" id="email" placeholder="Tu Email">
    </div>
    <div class="campo">
        <label for="">Password</label>
        <input type="password" name="password" id="password" placeholder="Tu Password">
    </div>
    <div class="campo">
        <label for="">Confirmar Password</label>
        <input type="password" name="confirmar" id="confirmar" placeholder="Repite tu Password">
    </div>
    <div class="campo acciones">
        <a href="/iniciar-sesion">volver a Iniciar Sesion</a>
    </div>
    <div>
        <input type="submit" value="Crear Cuenta" class="boton boton-verde">
    </div>
    </form>
</main>