<main class="lista-vacantes">
    <h2>Lista de Vacantes</h2>
    <div class="vacante">
        <div class="caja">
            <h3>Facebook</h3>
            <p class="puesto">React Developer</p>
        </div>
        <div class="caja">
            <p class="etiqueta">Ubicaciones</p>
            <p class="nombre">remoto</p>
        </div>
        <div class="caja">
            <p class="etiqueta">Contrato</p>
            <p class="nombre contrato">Tiempo completo</p>
        </div>
        <div class="caja central-vertical">
            <a href="#" class="btn btn-verde">Mas info</a>
        </div>
    </div>
</main>