<main class="contenedor">
    <form action="/vacantes/nueva" method="POST" class="default-form">
    
   <h3>Informacion General</h3>
    <div class="campo">
    <label for="">Titulo</label>
    <input type="text" name="titulo" placeholder="Ej:React Developer" required>
   </div>
    </form>
</main>